.chart-banner {
  display: block;
  margin: 0 auto;
}

.chart-diff {
  font-weight: bold;
  border-radius: 2px;
  padding: 0 3px;
}

/* developer-recommended warcrimes let's gooooooooo */
.etterna-bg {
  backgorund-color: deepskyblue !important;
}

.etterna-ez {
  backgorund-color: forestgreen !important;
}

.etterna-nm {
  backgorund-color: gold !important;
}

.etterna-hd {
  backgorund-color: red !important;
}

.etterna-in !important {
  backgorund-color: darkviolet !important;
}

.download-btn {
  color: white;
  background-color: limegreen;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover {
  color: gainsboro;  
  background-color: forestgreen;
  text-decoration: none;
}
