.chart-banner {
  display: block;
  margin: 0 auto;
}

.chart-diff {
  font-weight: bold;
  border-radius: 2px;
  padding: 0 3px;
}

/* developer-recommended warcrimes let's gooooooooo */
.etterna-bg !important {
  color: white;
  backgorund-color: deepskyblue;
}

.etterna-ez !important {
  color: white;
  backgorund-color: forestgreen;
}

.etterna-nm !important {
  color: white;
  backgorund-color: gold;
}

.etterna-hd !important {
  color: white;
  backgorund-color: red;
}

.etterna-in !important {
  color: white;
  backgorund-color: darkviolet;
}

.download-btn {
  color: white;
  background-color: limegreen;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover {
  color: gainsboro;  
  background-color: forestgreen;
  text-decoration: none;
}
