.chart-banner {
  display: block;
  margin: 0 auto;
}

.chart-diff {
  font-weight: bold;
  border-radius: 2px;
  padding: 0 3px;
}

.chart-diff .etterna-bg {
  color: white;
  backgorund-color: deepskyblue;
}

.chart-diff .etterna-ez {
  color: white;
  backgorund-color: forestgreen;
}

.chart-diff .etterna-nm {
  color: white;
  backgorund-color: gold;
}

.chart-diff .etterna-hd {
  color: white;
  backgorund-color: red;
}

.chart-diff .etterna-in {
  color: white;
  backgorund-color: darkviolet;
}

.download-btn {
  color: white;
  background-color: limegreen;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover {
  color: gainsboro;  
  background-color: forestgreen;
  text-decoration: none;
}
